@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;

}

html,
body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: black;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw;
}

header>p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(0, 91, 11, 0.788);
    color:rgba(255, 255, 255, 0.885);
    padding:2px;
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
    color: rgb(252, 223, 1);
}

a::after{
    content: '\00A0\1F517';
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2.5vw;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.507);
}

section>h1 {
    text-align: center;
}

section>p {
    padding-bottom: 1px;
    border-radius: 10px;
}

section.normal {
    background-color: white;
    background-image: url("../Imagens/crumpled-paper-706511_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
}

section>imagem {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.285);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.348);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

section.imagem>p {
    display: inline-block;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.285);
    text-shadow: 1px 1px 0px black;
}



section#img01 {
    background-image: url("../Imagens/ladybug-3475779_1920.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


section#img02 {
    background-image: url("../Imagens/old-letters-436501_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


section.apresentacao {
    background-image: url("../Imagens/brown-75178_1280.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

div.video {
    background-color: black;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    padding-bottom: 40%;
    padding-top: 0%;
    position: relative;

    margin-right: auto;
    margin-left: auto;

    max-width: 60%;
    max-height: 40%;
}

.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    width: 100%;

}

footer div.autoria {
    background-color: rgba(73, 72, 72, 0.94);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;  
}



footer div.agradecimentos {
    background-color: rgba(136, 141, 136, 0.847);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    color:black;

}

footer #gratidao{
    font-family: var(--fonte3);
    color: rgb(252, 0, 0);
}

footer #autor{
    font-family: var(--fonte3);
    color:rgb(17, 3, 98)
}